.ina-top-stories-section{
  .ia-loading-gif{
    max-width: 70px;
    margin: 0 auto;
    display: block;
  }
  .top-stories-list{
    padding: 0;
    margin: 0;
    .top-stories-item{
      width: 100%;
      height:400px;
      background-size: cover;
      background-position: center;
      list-style: none;
      overflow: auto;
      position: relative;
      p{
        position: absolute;
        bottom: 0;
      }
    }
  }
}