// Footer SCSS
.ina-footer{
  height: 10vh;
  text-align: center;
  p{
    margin: 0;
    
    span {
      text-transform: uppercase;
    }
  }
  @include tablet {
    text-align: left;
  }
}
.ina-footer-small{
  height: auto;
}
